header{
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,.15);
	margin-bottom: 10px;
}
.p-menu{
	font-size: 16px;
}
.p-menu ul{
	margin-left: -20px;
}
.p-menu li{
	display: inline-block;
	height: 75px;
}
.p-menu li a{
	display: inline-block;
	line-height: 75px;
	margin: 0px 10px;
	padding: 0px 10px;
}
.p-menu li.on a,.p-menu li a:hover{
	color: #48cfa1;
}
.p-list ul{
	overflow: hidden;
	margin-left: -50px;
}
.p-list li{
	width: 300px;
	height:225px;
	margin: 0px 0px 50px 50px;
	float: left;
	position: relative;
}
.p-list li img {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    /*transform:scale(1); 
    transition:-moz-transform 0.2s ease 0s;*/
}
.p-list li a{
	display: block;
	width: 100%;
	height:225px;
	position: relative;
	z-index: 9;
}
.p-list li a:hover{
	background-color: #000;
	opacity: 0.15;
}
/*.p-list li img:hover{
	cursor: pointer;
	transform:scale(1.05); 
}*/
.pop-center .des{
	margin-top: 20px;
	padding-left: 15px;
	border-left: 4px solid #585d62;
}
.pop-center .des p{
	font-size: 18px;
	color:#585d62;
	margin-top: 10px;
}
.pop-center .des em{
	color:#fff;
	background-color: #36ccd2;
	margin-left: 10px;
	padding: 2px;
}
.pop-center .content{
	margin-top: 30px;
}