{{if pageName=='index'}}
<header>
        <div class="container">
        	<div class="h-menu">
        	<ul>
                        <li><a href="/">Home</a></li>
        		<li><a href="etaoweb">Design</a></li>
        		<li><a href="practice">Practice</a></li>
        		<li><a href="#">About</a></li>
        		<li><a href="#">E-mail</a></li>
        	</ul>
                </div>			
        </div>
        <div class="room"></div>
</header>
{{else}}
<header>
        <div class="container">
                <div class="h-menu">
                <ul>
                        <li><a href="/">Home</a></li>
                        <li class="{{pageName=='brand'||pageName=='etaoweb'||pageName=='letvgc'||pageName=='weather'||pageName=='letvstore'?'on':''}}"><a href="etaoweb">Design</a><em></em></li>
                        <li class="{{pageName=='practice'?'on':''}}"><a href="practice">Practice</a><em></em></li>
                        <li><a href="#">About</a><em></em></li>
                        <li><a href="#">E-mail</a><em></em></li>
                </ul>
                </div>                      
        </div>
</header>
{{/if}}