{{if pageName=='index'}}
<header>
        <div class="container">
                <div class="logo">
                        
                </div>
        	<div class="h-menu">
        	<ul>
                        <li class="i-on"><a href="/">首页</a><em class="i-em"></em></li>
        		<li><a href="project">项目</a></li>
        		<li><a href="practice">练习</a></li>
        		<li><a href="about">关于</a></li>
        	</ul>
                </div>			
        </div>
        <div class="room"></div>
</header>
{{else}}
<header>
        <div class="container">
                <div class="logo logo-other">
                        
                </div>
                <div class="h-menu">
                <ul>
                        <li><a href="/">首页</a></li>
                        <li class="{{pageName=='project'||pageName=='brand'||pageName=='etaoweb'||pageName=='letvgc'||pageName=='weather'||pageName=='letvstore'?'on':''}}"><a href="project">项目</a><em></em></li>
                        <li class="{{pageName=='practice'?'on':''}}"><a href="practice">练习</a><em></em></li>
                        <li class="{{pageName=='about'?'on':''}}"><a href="about">关于</a><em></em></li>
                </ul>
                </div>                      
        </div>
</header>
{{/if}}