<div class="design-page-chs">
	{{if preName}}
    <a href="{{preUrl}}" class="design-page-pre show-pre">
        <span>
            <p class="chs-tit">Prev Project</p>
            <p>{{preName}}</p>
        </span>
    </a>
    {{else}}
    <a href="javascript:;" class="design-page-pre none-pre">
        <span>
            <p class="chs-tit">Prev Project</p>
            <p>None</p>
        </span>
    </a>
    {{/if}}
    {{if nextName}}
    <a href="{{nextUrl}}" class="design-page-next show-next">
        <span>
            <p class="chs-tit">Next Project</p>
            <p>{{nextName}}</p>
        </span>
    </a>
    {{else}}
    <a href="javascript:;" class="design-page-next none-next">
        <span>
            <p class="chs-tit">Next Project</p>
            <p>None</p>
        </span>
    </a>
    {{/if}}
</div>