<div class="design-page-chs">
    <a href="#" class="design-page-pre show-pre">
        <span>
            <p class="chs-tit">Pre Project</p>
            <p>Etao Web&Wap</p>
        </span>
    </a>
    <a href="javascript:;" class="design-page-pre none-pre">
        <span>
            <p class="chs-tit">Pre Project</p>
            <p>None</p>
        </span>
    </a>
    <a href="#" class="design-page-next show-next">
        <span>
            <p class="chs-tit">Next Project</p>
            <p>Letv GameCenter</p>
        </span>
    </a>
    <a href="javascript:;" class="design-page-next none-next">
        <span>
            <p class="chs-tit">Next Project</p>
            <p>None</p>
        </span>
    </a>
</div>