.banner{
	background: url("weather-bg.jpg") repeat-x;
	height: 810px;
	position: relative;
	z-index: 9;
	.weather-img{
		background: url("weather.jpg") center center no-repeat;
		height: 1050px;
	}
}
.ux-strategy{
	background-color: #e4e8f0;
	height: 1338px;
	padding: 1px;
	.strategy-img{
		background: url("strategy.jpg");
		width: 1000px;
		height: 1100px;
		margin: 210px auto 0px;
	}
}
.color{
	height: 360px;
	background: url("color.jpg") center center no-repeat;
}
.icon-style{
	background: url("icon-style-bg.jpg");
	height: 1250px;
	.icon-style-img{
		background: url("icon-style.png") center center no-repeat;
		height: 1250px;
	}
}
.homepage{
	height: 618px;
	padding: 1px;
	.homepage-img{
		background: url("homepage.png");
		width: 1200px;
		height: 790px;
		margin: -170px auto 0px;	
	}
}
.mappage{
	background: url("mappage-bg.jpg");
	height: 688px;
	padding: 1px;
	.mappage-img{
		background: url("mappage.png");
		width: 1200px;
		height: 800px;
		margin: -160px auto 0px;	
		.slider{
			position: relative;
			width: 100%;
			height: 100%;
			li{
			    display: block;
			    position: absolute;
			    right: 218px;
			    top: 113px;
			}
			.slider-index {
				position: absolute;
			    left: 218px;
			    bottom: 170px;
				span{
					#display .inline-block();
					cursor: pointer;
					margin-right: 35px; 
					&.active{
						em{
							display: block;
							width: 6px;
							height: 6px;
							background-color: #fff;
							margin: 10px auto 0px;
							border-radius: 50%;
						}
					}
				}
			}
		}
	}
}
.detail{
	height: 680px;
	background: url("detail.jpg") center center no-repeat;
}
.view-detail{
	background: url("mappage-bg.jpg");
	height: 696px;
	.view-detail-img{
		background: url("view-detail.png") center center no-repeat;
		height: 696px;
	}
}
.pedometer{
	background: url("pedometer.jpg") center center no-repeat;
	height: 656px;
}
.other{
	background: url("mappage-bg.jpg");
	height: 810px;
	.other-img{
		background: url("other.png") center center no-repeat;
		height: 810px;
	}
}
.watching{
	background: url('watching-bg.jpg');
	height: 405px;
	margin-bottom: 40px;
	.watching-des{
		background: url('watching.png') center center no-repeat;
		height: 405px;
	}
}