<div class="mask" style="display:none;"></div>
<div class="pop-layer" style="display:none;">
    <div class="pop-wrap">
        <div class="pop-center">
            <div class="pw-bd">
                <div class="des">
                    <h1 class="title">House Buliding</h1>
                    <p>2016/06/15</p>
                    <p>Software:<em>Cinema4D</em><em>Photoshop</em></p>
                </div>          
                <div class="content">
                    <img src=$res(camera-animation.gif) />
                </div>
                <div class="content">
                    <img src=$res(big_3.jpg) />
                </div>
            </div>
            <a href="javascript:;" class="icon i-close"></a>
        </div>
    </div>
</div>